body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices {
    margin-bottom: 2em;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(0, 0%, 76%);
    transition: background-color 0.5 ease;
}

.choices button:hover {
    background-color: hsl(208, 100%, 96%);
}

#playerScore, #computerScore {
    font-size: 2.5rem;
}

#finalResult {
    font-size: 3.5rem;
    margin: 30px 0;
}

#replayButton {
    font-size: 2rem;
    padding: 15px 40px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: hsl(120, 60%, 50%);
    color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#replayButton:hover {
    background-color: hsl(120, 60%, 40%);
}

.choices button:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}